/* Sidebar */
.sidebar {
    width: 100%;
    background: white;
    border-right: 1px solid #ccc;
    z-index: 20;
}

.logo {
    width: 6vw;
    height: auto;
    min-width: 56px;
    min-height: 56px;
}

@media (min-width: 768px) {
    .sidebar {
        display: flex;
        position: relative;
        width: 18rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5vh;
    }

    .logo {
        position: absolute;
        left: 16rem;
        top: 8vh;
    }
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.title {
    font-weight: bold;
    font-size: 6vw;
}

.menu-button {
    display: block;
    background-color: transparent;
    border: transparent;
    margin: 1.5rem 1rem 1rem 0;
}

@media (min-width: 768px) {
    .sidebar-header {
        padding-top: 4vh;
    }

    .menu-button {
        display: none;
    }

    .title {
        font-size: 2vw;
    }
}

.menu {
    display: none;
    padding: 1rem;
}

.menu.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .menu {
        display: block;
    }
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.menu a:visited,
a:link,
a:active {
    text-decoration: none;
    font-size: 1rem;
}

.menu a.noselected {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

.menu a.selected {
    color: #AA6666;
    /* red-500 */
    font-weight: 600;
    text-decoration: underline;
    font-size: 1rem;
}

.menu a:hover {
    color: #f87171;
    font-size: 1rem;
    /* red-400 */
}